.Won {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Won__message {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.Won__button{
  width: 50%;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
}
